<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=14.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IUMSNXG" connectionString="Data Source=13.71.106.103,50502;Initial Catalog=HPU;User ID=HPU_User_App;Password=w@LHPU*p#uQ7dgjg" providerName="System.Data.SqlClient" />
    <add name="conStr" connectionString="Data Source=13.71.106.103,50502;Initial Catalog=HPU;User ID=HPU_User_App;Password=w@LHPU*p#uQ7dgjg" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="dbConnString" value="Data Source=104.211.203.206,50808;Initial Catalog=HPU_IUMS_Live;User ID=hpuiums;Password=hpu@iums321" />-->
    <!--<add key="dbConnString" value="Data Source=20.219.123.206,50909;Initial Catalog=HPU;User ID=hpuuser;Password=Hpu#@321" />-->
    <add key="dbConnString" value="Data Source=13.71.106.103,50502;Initial Catalog=HPU;User ID=HPU_User_App;Password=w@LHPU*p#uQ7dgjg" />
    <!--<add key="dbConnString" value="Data Source=20.219.123.206,50909;Initial Catalog=HPU_Backoffice;User ID=hpuuser;Password=Hpu#@321" />-->
    <!--<add key="dbConnString" value="Data Source=104.211.203.206,50808;Initial Catalog=HPU_IUMS_Live_14Jul23;User ID=msrivastava;Password=Meera@78" />-->
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="PageSize" value="10" />
    <add key="ChartImageHandler" value="storage=file;timeout=80;dir=c:\TempImageFiles\;" />
    <add key="CuteWebUI.AjaxUploader.UploadSpeedKB" value="1536000" />
    <add key="ftpTrngBrochure" value="100000" />
    <add key="s_sbi_url" value="http://localhost:51415/OnlinePayment/ALM_Payment_Success.aspx" />
    <add key="s_sbi_url1" value="https://alumni.hpushimla.in/OnlinePayment/ALM_Payment_Success.aspx" />
    <add key="s_sbi_url_con" value="http://localhost:51415/Onlinepayment/Contribution_Payment_Success.aspx" />
    <add key="s_sbi_url_con1" value="https://alumni.hpushimla.in/OnlinePayment/Contribution_Payment_Success.aspx" />
    <add key="CandidateAttachmentsPath" value="D:\PLACEMENT_DATA\" />
  </appSettings>
  <system.web>

    <compilation targetFramework="4.6">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576" executionTimeout="110" />
    <pages enableEventValidation="true" theme="skyblue" autoEventWireup="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI" />
        <add assembly="Anthem" namespace="Anthem" tagPrefix="Anthem" />
        <add assembly="SubSonic" namespace="SubSonic" tagPrefix="subsonic" />
        <add assembly="PNayak.Web.UI.WebControls.ExportButton" namespace="PNayak.Web.UI.WebControls" tagPrefix="pnwc" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
	  <customErrors mode="Off" />
  </system.web>
  <SubSonicService defaultProvider="IUMSNXG">
    <providers>
      <clear />
      <add name="IUMSNXG" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="IUMSNXG" generatedNamespace="IUMSNXG" />
      <add name="IUMSNXG1" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="IUMSNXG" generatedNamespace="IUMSNXG1" />
    </providers>
  </SubSonicService>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
                <clear />
                <add value="~/Alumni/Alm_Default.aspx" />
                <add value="Index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
			<!--<add value="userlogin.html"/>-->
        
      </files>
    </defaultDocument>
	<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" /> <!-- size in bytes, here 1 GB -->
      </requestFiltering>
    </security>
        <httpProtocol>
            <customHeaders>
                <add name="strict-transport-security" value="max-age=31536000; includeSubDomains; preload" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>