@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	outline:none;
}
img {
	border:0;
}
body {
	font-size:12px;
	font-family:Arial;
	line-height:18px; 
	background: url("../images/head-bg.gif") repeat scroll 0 0 #FFFFFF;
}
fieldset {
	padding:5px;
}
fieldset legend {
	font-weight:bold;
}
#main {
	width:90%;
	margin:0 auto;
}
.maininner {
	float: left;
	width: 100%;
	background: #FFFFFF;
	padding: 0 7px 7px 7px;
	box-shadow: 0 0 12px #0a5c5c;
}
.leftwrap-n {
	float: left;
	margin-right: 9px;
	width: 20%;
}
.leftwrap {
	width:100%;
	float:left;
}
.leftwrap .header {
	width:193px;
	height:87px;
	padding-top:22px;
	text-align:center;
}
.leftwrap .navigation {
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	float: left;
	margin-top: 10px;
	padding: 5px;
	width: 94%;
}
.leftwrap .navigation h2 {
	font-size:12px;
	padding:15px;
	color:#000000;
}
.leftwrap .navigation a {
	color:#008ce3;
}
.leftwrap .navigation a:hover {
	text-decoration:none;
}
.leftwrap .navigation ul {
	list-style:none;
}
.leftwrap .navigation li {
	/*background: url("../images/nav-arrow.gif") no-repeat scroll 10px 10px #F0F0F0;*/
	background:#F0F0F0;
	border-radius: 5px 5px 5px 5px;
	font-size: 12px;
	margin-bottom: 5px;
	font-family:"Trebuchet MS", arial;
	width: 100%;
	float: left;
	padding: 5px;
}
.leftwrap .navigation li:hover {
	background: #69d0dd; /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(105,208,221) 0%, rgb(190,247,254) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(105,208,221)), color-stop(100%,rgb(190,247,254))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(105,208,221) 0%,rgb(190,247,254) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(105,208,221) 0%,rgb(190,247,254) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(105,208,221) 0%,rgb(190,247,254) 100%); /* IE10+ */
	background: linear-gradient(top bottom,  rgb(105,208,221) 0%,rgb(190,247,254) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d0dd', endColorstr='#bef7fe',GradientType=0 ); /* IE6-9 */
}
.leftwrap .navigation li a {
	color: #363636;
	text-decoration: none;
	float: left;
	font-weight: normal;
}
.rightwrap {
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	float: left;
	width: 78%;
}
.rightwrap .cntent {
	min-height: 435px;
	padding: 8px;
}
.rightwrap .cntent table {
	float:left
}
.profile-img {
	width:160px;
	height:160px;
	padding:2px;
	border:1px solid #47acf1;
	float:left;
}
.tablur {
	margin-bottom:12px;
	background:#f8f8f8;
	width:70%;
	border-collapse:collapse;
}
.tablur td {
	border:1px solid #dedede;
	padding:5px;
	color:#5c5c5c;
	font-size:12px;
}
.brcms, .box {
	width:100%;
	float:left;
}
#nav {
	margin:10px 1%;
	background:url(../images/nvbg.jpg) repeat-x left top;
	width:98%;
	float:left;
}
.nav-l {
	background:url(../images/nv-l.jpg) no-repeat left top;
	width:12px;
	float:left;
	height:35px;
}
.nav-r {
	background:url(../images/nv-r.jpg) repeat-x left top;
	width:12px;
	float:right;
	height:35px;
}
#nav ul {
	list-style:none;
}
#nav li {
	padding:9px 0px 4px 12px;
	border-right:1px solid #044a6b;
	font-size:12px;
}
#nav li a {
	padding:4px 0 4px 0;
	margin-top:-4px;
	color:#FFFFFF;
}
#nav li a.static {
	padding:5px 20px 5px 5px;
	font-weight:bold;
}
#nav li a:hover {
	text-decoration:underline;
}
#nav ul ul {
	background:#FFFFFF !important;
	border-top:1px solid #2d88c1;
}
#nav ul ul li {
	background:#FFFFFF !important;
	margin:0;
	padding:0!important;
}
#nav ul ul li a.dynamic {
	background:#FFFFFF !important;
	border:1px solid #2d88c1;
	color:#000000;
	border-top-width:0;
	margin:0;
	padding:2px 5px;
	cursor:pointer;
}
#nav ul ul li a:hover.dynamic {
	background: #2d88c1!important;
	color:#FFFFFF;
}
#container {
	padding:0 1%;
	min-height:550px;
}
.forms h3 {
	color:#425b79;
	background:url(../images/heading.jpg) repeat-x 0 0;
	font-size:12px;
	line-height:27px;
	border:1px solid #92cbf1;
	padding:0 5px;
	border-width:0 1px;
	text-shadow:1px 1px #FFFFFF;
}
.forms {
	border:1px solid #009dfe;
	background:#FFFFFF;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.forms1 {
	border-top:1px solid #009dfe;
	background:#FFFFFF;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.forms1 .heading {
	border:1px solid #009dfe;
	border-width:0 1px 1px 1px;
}
/*.relaitive{position:relative;}*/
.box {
	padding-bottom:10px;
	z-index:1;
}
.heading {
	color:#000000;
	border-bottom:1px solid #009dfe;
	background:url(../images/heading.jpg) repeat-x 0 0;
	font-size:12px;
	line-height:25px;
	padding:0 5px;
	float:left;
	font-weight:bold;
	width:99%;
}
.heading1 {
	color:#FFFFFF;
	background:url(../images/main-hd.jpg) repeat-x 0 0;
	font-size:12px;
	line-height:22px;
	padding:0 1%;
	float:left;
	font-weight:bold;
	width:97.8%;
	border-radius:12px 12px 0 0;
	border:.01em solid #044a6b;
}
/*.btnarea {
	padding:3px 0 3px 0!important;
	background:#e3eaf4;
	border-bottom:1px solid #afcbdf;
	text-align:right;
}*/
.textbox, .input, .gtextboxdate {
	-moz-border-radius: 4px;
	border:1px solid #333333;
	float:left;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width:200px;
	padding:2px 5px;
	font-size:11px;
	margin-right:5px;
}
.textboxdate, .textboxlong {
	-moz-border-radius: 4px;
	border:1px solid #333333;
	float:left;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding:2px 5px;
	font-size:11px;
	margin-right:5px;
}
input, select {
	font-size:11px!important;
}
.input:focus, .textbox:focus, .textboxmultiline:focus {
	border:1px solid #cf4700;
}
/*.textbox:focus, .dropdown:focus, .textboxmultiline{border:1px solid #cf4700;}*/
.textboxmultiline, .textarea {
	-moz-border-radius: 4px;
	border:1px solid #333333;
	float:left;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width:200px;
	padding:5px;
	overflow: auto;
	margin-right:5px;
}
.dropdown, .dropdownlong, select {
	font-size:11px;
	border:1px solid #333333;
	float:left;
	margin-right:5px;
	-moz-border-radius: 4px;
	padding:1px;
}
.list {
	width:212px;
	margin-right:10px;
}
input[type="radio"], input[type="checkbox"] {
	margin-right:3px;
}
.required {
	/*background:url(../images/req1.jpg) no-repeat left center;*/
	color:red;
}
.button-common {
	background:url(../images/btn-bg.jpg) repeat-x left top;
	border:1px solid #044a6b;
	padding:2px 5px;
	margin:0px;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
}
.button-common1 {
	background:url(../images/btn-bg1.jpg) repeat-x left top #f07d00;
	color:#000000;
	border:1px solid #be6300;
	padding:4px 10px;
	margin:0px 7px 0 0;
	font-size:11px;
	font-weight:bold !important;
	color:#FFFFFF;
	cursor:pointer;
}
.abstract {
	background:url(../images/plus.jpg) no-repeat left top;
	height:15px;
	width:14px;
	float:right;
	margin-top:5px;
	text-indent:9999px;
	overflow:hidden;
}
.abstract-close {
	background:url(../images/minus.jpg) no-repeat left top;
	height:15px;
	width:14px;
	float:right;
	margin-top:5px;
	text-indent:9999px;
	overflow:hidden;
}
.header-style td, .header-style th {
	font-weight:bold;
	background:url(../images/table-header.jpg) repeat-x left top #cdcdcd;
	border:0;
	font-size:11px;
	border:1px solid #000000;
	padding:0 2px;
}
.header-style td a, .header-style th a {
	color:#000;
}
.item-style td {
	border:1px solid #000000;
	border-width:0 1px;
}
.dgitem-style td {
	border:1px solid #b8c9e2;
	padding:2px 5px;
}
.alternate-style td {
	border:1px solid #b8c9e2;
	background:#f5f5f5;
	padding:2px 5px;
}
/*---tooltip---*/
/* Tooltip */
.tt {
	position:relative;
	display:block;
	float:left;
}
#tooltip {
	position:absolute;
	z-index:9999;
	color:#000000;
	font-size:11px;
	width:180px;
	left:35px;
	top:0px;
}
#tooltip .tipHeader {
	height:8px;
	background:url(../images/tipHeader.gif) no-repeat;
}
#tooltip .tipBody {
	background-color:#fff4d5;
	padding:0 10px;
}
#tooltip .tipFooter {
	height:8px;
	background:url(../images/tipFooter.gif) no-repeat;
}
.footer {
	background: none repeat scroll 0 0 #232425;
	border-top: 1px solid #ccc;
	color: #666666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 50px;
	margin-top: 7px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}
.footer .expproduct a {
    background: transparent url("../images/manage-iti.png") no-repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 0;
    height: 26px;
    margin-left: 42%;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    width: 156px;
}
.footer a {
	color:#666;
	text-decoration:none;
}
.footer a:hover {
	color:#000000;
}
.footer span {
	float:right;
}
.footer span a {
	color:#000000;
	padding:0 7px;
}
.footer span a:hover {
	text-decoration:none;
}
/*----new Style--*/
/*.vtext{text-align:right;} */
.vtext {
	color: #333333;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}
.colon {
	width: 2%;
	text-align:center;
}
.table {
	background:#FFFFFF;
	float:left;
	margin-bottom:10px;
}
.table td {
	padding:2px 5px 2px 5px;
}
.cntent table tr td {
	padding: 3px 2px 3px 2px;
}
.divsubheading.heading1 {
	color:#FFFFFF;
	background:url(../images/main-hd.jpg) repeat-x 0 0;
	font-size:12px;
	line-height:22px;
	padding:0 1%;
	float:left;
	font-weight:bold;
	width:97.8%;
	border-radius:12px 12px 0 0;
	border:.01em solid #044a6b;
}
.tableheading {
	/*background: url("../images/bottom-arrow.png") no-repeat scroll 99% center #59B2E6;*/
    border-radius: 6px 6px 6px 6px;
	background:#00a2a2;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding:2px 5px !important;
}
.tablesubheading {
	background: none repeat scroll 0 0 #00a2a2;  
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding:2px 5px !important;
}
td.tableheading, td.tablesubheading {
	/*float:none;*/
    background: none repeat scroll 0 0 #016773;  
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding:4px 5px !important;

}
.divsubheading {
	border:1px solid #009dfe;
	float:left;
	width:99%;
}
.white_content11 {
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	padding: 16px;
	margin:-147px 0 0 -330px;
	z-index:999;
	overflow: hidden;
	border:2px solid #33CCFF;
	text-align:center;
	background:#FFFFFF;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 105%;
	height:100%;
	background-color: #000;
	z-index:1001;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
}
.white_content-new-1 {
    /* text-align: center; */
    background: #000000a1;
    float: left;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.popupboxouter {
    margin: 10% auto 0;
    width: 855px;
}
.popupbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 15px solid #016773;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    float: left;
    padding: 10px;
    position: relative;
    width: 800px;
}
.close-1 {
    background: url(../images/closebutton.png) no-repeat scroll 0 0;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 22px;
    position: absolute;
    right: 11px;
    top: 12px;
    width: 22px;
    z-index: 99;
}

.fade {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
	background-color: #000;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
}
.close {
	background:#33CCFF;
	position:absolute;
	top:0;
	right:0;
	width:17px;
	height:17px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding:3px 0 0 3px;
	cursor:pointer;
}
#login-bx {
	background: url("../images/student-login.jpg") no-repeat scroll 0 0 transparent;
	height: 448px;
	margin: 5% auto 0;
	width: 728px;
}
#login-bx .mid {
	float: left;
	padding: 170px 0 0 217px;
	width: 45%;
}
#login-bx .bt {
	float: left;
	padding-left: 317px;
	padding-top: 15px;
	width: 44%;
}
#login-bx .mid label {
	float:left;
	width:100px;
}
#login-bx .top {
	background:url(../images/log-tp.jpg) no-repeat 0 0;
	height:172px;
}
#login-bx .mid p {
	color: #FFFFFF;
	float: left;
	font-weight: bold;
	padding: 20px 0 0 0;
	width: 322px;
}
#login-bx .mid p .input1 {
	border: 1px solid #0A446E;
	padding: 3px;
	width: 180px;
}
#login-bx .bt .btn {
	background:url(../images/log-but.jpg) repeat-x 0 0;
	border:1px solid #d56e00;
	font-weight:bold;
	padding:3px 5px;
}
#login-bx .bt .footer1 {
	margin-top:45px;
}
.overflow {
	width:900px;
	overflow:auto;
	background:#ff00;
	float:left;
}
.table .table {
	width:100%;
}
.scroll {
	width:99%;
	overflow:auto;
	float:left;
}
.vtextbrpt {
	padding:2px;
	border:1px solid #666666;
}
.home_link a {
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
.home_link a:hover {
	color:#000000;
	text-decoration:underline;
}
.module-bg {
	background:url(../images/bg-mod.jpg) repeat 0 0;
	border:1px solid #009dfe;
	height:360px;
	padding-top:20px!important;
	border:1px solid
}
.DivStyleWithScroll {
	overflow:auto;
	border:1px solid #aeaeae;
}
.tabg {
	background:url(../images/right-tab.jpg) no-repeat top right;
	padding:3px 10px;
	display:block;
	float:left;
	margin-right:5px;
	font-weight:bold;
	color:#4F6013;
	border-left:#4F6013 1px solid;
	text-decoration:none;
	font-size:11px;
}
.tabg:hover {
	background:url(../images/right-tab-hov.jpg) no-repeat top right;
	color:#844c10;
	border-left:#c19566 1px solid;
}
.tabgs {
	background:url(../images/right-tab-hov.jpg) no-repeat top right;
	color:#844c10;
	border-left:#c19566 1px solid;
	padding:3px 10px;
	display:block;
	float:left;
	margin-right:5px;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}
.tabbing {
	background:url(../images/tab-bgg.jpg) repeat-x bottom left;
	padding:15px 5px 2px 15px!important;
}
.gtextbox4, .gtextbox5, .gtextbox2, .gtextboxsuggestion, .gtextboxlong, .gtextboxdate, .gtextbox, .gtextbox1, .gtextbox-earninghead, .gtextboxmedium {
	-moz-border-radius: 4px;
	border:1px solid #333333;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding:2px 5px;
	font-size:11px;
	margin-right:5px;
}
.gtextbox4 {
	width: 28px;
}
.gtextbox5 {
	width: 36px;
}
.gtextboxdate {
	width: 65px;
}
.gtextbox {
	width: 125px;
}
.gtextbox1 {
	width: 195px;
}
.gtextbox-earninghead {
	width: 125px;
}
.gtextboxmedium {
	width: 110px;
}
.gtextbox2 {
	width: 10px;
}
.gtextboxlong {
	width: 250px;
}
.gtextboxmultiline {
	width: 250px;
}
.gtextboxsuggestion {
	width: 350px;
}
.dropdownsmall {
	width: 225px;
}
.dropdown {
	width: 215px;
}
.dropdownshowhide {
	width: 225px;
}
.dropdownmedium {
	width: 225px;
}
.dropdownlong {
	width: 215px;
}
.dropdownverylong {
	/*background: url(Images/form_bg.jpg) #fff repeat-x;*/
	width: 225px;
}
.dropdownveryvlong {
	/*background: url(Images/form_bg.jpg) #fff repeat-x;*/
	width: 225px;
}
/*--------------------gridview dropdown-----------------*/
.gdropdownsmall {
	width: 92px;
}
.gdropdownsmaller {
	width: 64px;
}
.gdropdownverysmall {
	width: 38px;
}
.gdropdown {
	width: 152px;
}
.gdropdownmedium {
	width: 200px;
}
.gdropdownlong {
	width: 255px;
}
.gdropdownverylong {
	width: 350px;
}
.gdropdownveryvlong {
	width: 500px;
}
.radio td {
	border:0!important;
}
.headermain {
	background: #016773;
	float: left;
	height: 83px;
	width: 100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom:8px;
}
.headermain h1 {
	float: left;
	padding: 4px 0 0 5px;
	width: 295px;
}
.mytab {
	float: right;
	padding-top: 15px;
	min-width: 400px;
}
.mytab li {
	color: #fff;
	float: left;
	font-size: 11px;
	font-weight: bold;
	list-style-type: none;
	padding: 0 8px;
}
.mytab li a {
	color:#fff;
	text-decoration:none;
}
.mytab li a:hover {
	text-decoration:underline;
}
.secondmaintab {
	float: right;
	padding-top: 15px;
	min-width: 400px;
}
.secondmaintab li {
	color: #fff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 23px;
	line-height: 22px;
	list-style-type: none;
	margin-left: 10px;
	padding: 0 10px 0 30px;
}
.secondmaintab li a {
	color:#666666;
	text-decoration:none;
}
.secondmaintab li.notepad {
	background: url("../images/notepad.png") no-repeat scroll 0 0 transparent;
}
.secondmaintab li.facebook {
	background: url("../images/fbicon.png") no-repeat scroll 0 0 transparent;
}
.secondmaintab li.twtter {
	background: url("../images/twittericon.png") no-repeat scroll 0 0 transparent;
}
.secondmaintab li.logindtl {
	background: url("../images/Login.png") no-repeat scroll 0 0 transparent;
	height: 24px;
}
.secondmaintab li.onlineuser {
	background: url("../images/Users-icon.png") no-repeat scroll 0 0 transparent;
}
.profileimage {
	float:left;
	width:100%;
}
.profileimage img {
	padding:4px;
	border:solid 1px #CCCCCC !important;
	width:94%;
}
/* Module Page Css */
.modulepage {
	float:left;
	list-style-type: none;
	width:510px;
}
.moduleswrap {
	float:left;
	list-style-type: none;/*width:768px;*/
}
.modulepage h2 {
	font-family: Arial;
	font-size: 14px;
	background: none repeat scroll 0 0 #016773;
	margin-top: 3px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
}
.moduleswrap li {
	color: #696969;
	float: left;
	text-align:center;
	min-height: 130px;
	width: 165px;
}
.moduleswrap li img {
	width: 71px;
	height:71px;
}
.moduleswrap span {
	float:left;
	width:100%;
}
.mcontentmain {
	float: left;
	width: 100%;
}
.mcontentmain a {
	color: #016773;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.mcontentmain a:hover {
	text-decoration:underline;
}
.contentsubheading {
	border-bottom: 1px dotted #CCCCCC;
	color: orange;
	font-size: 13px;
	width: 20%;
}
/* ---------------End Of Module Page Css------------------- */
.noticemain {
    float: right;
    width:250px;
   
}
.Universitynotice, .notice {
	border: 1px solid #CCCCCC;
	float: left;
	margin-bottom: 10px;
	padding: 5px;
	width: 236px;
}
.uninotice {
	border-bottom: 1px dotted #000000;
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	width: 100%;
}
.subhead {
	background:#016773;
	color: #FFFFFF;
	float: left;
	border-radius: 5px;
	font-size: 14px;
	margin-bottom:5px;
	font-weight: bold;
	height: 16px;
	line-height: 15px;
	padding: 5px;
	width: 96%;
}
.no {
	float:left;
	width:21px;
}
.noticelist {
	float:left;
	width:202px;
	width:195px;
}
.latestnew {
	color:red;
	padding: 0 3px;
	text-decoration: blink;
}
.content {
	float:left;
	width:100%;
}
.subheading {
	background: none repeat scroll 0 0 #E1F4FF;
	border-radius: 5px 5px 5px 5px;
	float: left;
	font-weight: bold;
	margin: 3px 0;
	padding: 3px 5px;
	width: 99.4%;
}
/*facultyview */
.facultyview table, .facultyview table tr td {
	border: medium none !important;
}
.facultyview table tr.item-style {
	background:#FFFFFF !important;
}
.facultyview table tr td img {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EDEDED !important;
	padding: 3px;
}
/*End of facultyview */
.profileheading {
	border-bottom: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
/*=== vertical  menu css === */
ul#ctl00_menu, ul#ctl00_menu ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 95%;
}
ul#ctl00_menu a {
	display: block;
	text-decoration: none;
}
ul#ctl00_menu li {
	margin-top: 1px;
}
ul#ctl00_menu li a {
	background: url("../images/menu-arrow.gif") no-repeat scroll 0 3px transparent;
	color: #000;
	padding-left: 20px;
	width:88%;
}
ul#ctl00_menu li ul li {
	padding:5px 0;
	background:none !important;
	margin-bottom:0;
}
ul#ctl00_menu li ul li a {
	background: url("../images/menu-arrow.gif") no-repeat scroll 6px 3px transparent;
	color: #000000;
	padding-left: 22px;
}
ul#ctl00_menu li ul li a:hover, ul#ctl00_menu li ul .current a {
	text-decoration:underline;
	color:#265c94;
}
.code {
	border: 1px solid #CCCCCC;
	list-style-type: decimal-leading-zero;
	padding: 5px;
	margin: 0;
}
.code code {
	display: block;
	padding: 3px;
	margin-bottom: 0;
}
.code li {
	background: #DDDDDD;
	border: 1px solid #CCCCCC;
	margin: 0 0 2px 2.2em;
}
.indent1 {
	padding-left: 1em;
}
.indent2 {
	padding-left: 2em;
}
.pollmaindiv {
	background: #f6f6f6;
	padding: 5px;
	margin-right: 10px;
	border: solid 1px #CCCCCC;
	float: left;
}
.PopcalTrigger {
	width: 24px;
	height: 24px;
}
.cclatestupdate {
	float: left;
	width: 100%;
	*width: 93%;
	padding: 2px 0;
	line-height:16px;
	font-weight:bold;
}
.cclatestupdate a {
    color: #333333;
    word-wrap: break-word;
}
.cclatestupdate a:hover {
	color:#45a9e4;
	text-decoration:none;
}
.sno {
	float:left;
	width:22px;
	padding-top:5px\9;
	*padding-top:2px;
}
.noticedtl {
	float: left;
	width: 195px;
	word-wrap: break-word;
}
/* ================ scroll css =============== */
.slimScrollDiv {
	margin-bottom:10px;
	height:170px !important;
}
.slimScrollRail {
	background: none repeat scroll 0 0 #5cb5e8 !important;
}
.slimScrollBar {
	background: none repeat scroll 0 0 #2f9cdc !important;
}
#clgcircular, #clgnotice, .slimScrollDiv {
	height:170px !important;
}
/*========= End of scroll css ===============*/
.rightwrap .cntent .pager-style table {
	float:none;
	margin:0 auto;
}
.lblmessage {color:Red; }
.footer a {display:none;}