.lbl
{
	font-family:Verdana;
	font-size:10pt;
	font-weight:normal;

}
.btn
{
	font-size:8pt;
	font-family:Verdana;
	font-weight:Bold;
}
.pagehead
{
	font-family:Georgia;
	font-size:12pt;
	font-weight:bold;
}
